body,html {
    width: 100%;
    height: 100%;
    position: relative;
}

/*
@-ms-viewport{
  width: device-width;
}

@media (width < 400px){
    body{
        width: 400px;
    }
}
*/

#support{
    width:100%;
    height: 100%;
    margin: 12em;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


.br {
    margin: -5px;
    padding-bottom: 10px;
}

#rt-nav {
    margin: 10px;
}

.tagline {
    margin-top: 50%;
}

.main {
    color: #fff;
    background: url(../images/img1.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 80%;
    width: 100%;
}

.contact_buttons {
    height: 20%;
    margin-bottom: 2em;
}

.btn-circle {
    width: 74px;
    height: 74px;
    border-radius: 50px;
}

.bio_bg {
    height: 50%;
    background: url(../images/l2.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    box-shadow: 0 15px #444bbb;
}

.bio {
    padding: 40px 40px 0;
    line-height: 200%;
    font-size: 20px;
}

.skills_section {
    margin-top: 10px;
    height: 50%;
    width: 100%;
}

.skills_content {
    font-size: 12px;
}

.skills_logos {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* Could also use the predefined center-block class from bootstrap
But this works too :) \/ */

.skills_logos img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.portfolio {
    background-color: rgba(100,100,100,0.1);
    height: 100%;
    text-align: center;
    box-shadow: 0 -15px teal;
    padding: 30px;
    margin-bottom: 15px;
}

.folio-body {
    position: relative;
}

.folio-gallery{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-final {
    padding-top: 100px;
    margin-bottom: 100px;
}

.contact {
    height: 50%;
    background: url(../images/l3.jpg) no-repeat center center fixed;
    background-size: cover;
    box-shadow: 0 -15px orange;
}

.fixed-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    left: 5%;
    bottom: 5%;
    background: url(../images/fixedbutton.png) no-repeat center 40%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
